<h1>User location found!</h1>

<p>The user last reported to be in <%= @user_location[:name] %> at <%= @user_location[:timestamp] %> </p>

<p> <%= link_to "Home", controller: "pages", action: "form" %> </p>